@use "components/variable" as *;
@use "components/reset" as *;
@use "components/arrows" as *;

html {
  font-size: 20px;
}

body {
  font-family: $font-lexend-deca;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  color: $dim-grey;
}

button {
  font-family: $font-space-mono;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 4rem;

  background-color: $yellow;
  color: white;
  border: none;
  cursor: pointer;
}


.download-button {
  //width: 35vw;
  height: 120px;
  margin: 0 1rem;
}

.hero {
  background-image: url("../image/hero-scoot.jpg");
  background-size: cover;
  background-position: right;

  box-shadow: inset 0 0 0 1000px rgba(42, 53, 91, 0.8);

  color: white;

  padding: 5rem 0;

  &_top {
    width: fit-content;
    text-align: center;
    padding: 0 2.5rem;

    &_arrow {
      width: 35vw;
    }

    p {
      font-weight: 300;
      color: white;
      margin: 2rem 0;
    }
  }
}

.tutorial {
  text-align: center;

  padding: 7rem 4rem;

  &_cart {
    padding: 3rem 4rem;
  }

  img {
    margin: 0 auto;
    width: 9rem;
  }

  h4 {
    margin: 3rem 0;
  }
}

.advantage {
  &_card {
    padding: 4rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;

    .advantage_card_img {
      position: relative;
      z-index: 0;
      margin-bottom: 8rem;
    }

    .arrow_downRight {
      @include arrow('downRight');
    }

    .arrow_topLeft {
      @include arrow('topLeft');
    }

    .arrow_downLeft {
      @include arrow('downLeft');
    }

    .arrow_topRight {
      @include arrow('topRight');
    }


    p {
      margin: 2.5rem 0;
    }

  }

  & > * {
    margin: 2.5rem 0;
  }

  img {
    width: 100%;
  }

  h3 {
    color: $dark-navy;
  }

  p {
    color: $dim-grey;
    font-size: 0.7rem;
    font-weight: 400;
  }
}

footer {
  background-color: $dark-navy;
  color: white;


    padding: 5rem 0;
    text-align: center;

    h2 {
      margin: 3rem 3rem 6rem;
      font-size: 4rem;
    }

    p {
      margin: 2rem 0;
    }

  &_app {
    padding: 12rem 5rem;
    display: flex;
    justify-content: space-around;
  }

  //.footer_circle {
  //  display: flex;
  //  width: 100%;
  //  max-width: 100vw;
  //  overflow: hidden;
  //  justify-content: space-between;
  //  flex-wrap: nowrap;
  //
  //  &:before,
  //  &:after {
  //    margin-bottom: -25%;
  //    width: 50vw;
  //    height: 50vw;
  //    border-radius: 100%;
  //    position: relative;
  //    content: '';
  //  }
  //
  //  &:before {
  //    border: 2rem solid $dim-grey;
  //    left: -20%;
  //    bottom: -20%;
  //  }
  //
  //  &:after {
  //    background-color: $dim-grey;
  //      right: -20%;
  //      top: -20%;
  //  }
  //
  //}
}
